
<body>
  <div class="recharge">
          <form method="post" id="recharge" action>
              <h1><b>Recharge Mobile Wallet</b></h1><br/>
              <label><b>Customer ID : </b></label><br/>
              <input type="text" id="cusid" name="cusid" placeholder="Enter Customer ID" style="text-align:center"><br/><br/><br/>
              <label><b>Customer Name : </b></label><br/>
              <input type="text" id="cusname" name="cusname" style="text-align:center"><br/><br/>
              <label><b>Customer Mobile : </b></label><br/>
              <input type="text" id="cusmob" name="cusmob" style="text-align:center"><br/><br/>
              <label><b>Wallet Amount : </b></label><br/>
              <input type="text" id="amount" name="amount"  style="text-align:center"><br/><br/><br/>
              <label><b>Recharge Amount : </b></label><br/>
              <input type="text" id="ramount" name="ramount"  style="text-align:center"><br/><br/><br/>
              <input type="button" id="confirm" value="Confirm" style="margin-right: 20px">&nbsp;&nbsp;
              <input type="button" id="cancel" value="Cancel" onclick=" location.href='/start'">
          


          </form>
  </div>
</body>
