<body>
    
  <div class="create">
  <h1><b>Create Mobile Wallet</b></h1><br/>
  <form method="post" id="create" action>
  <label><b>Customer Name : </b></label><br/>
  <input type="text" id="cusname" name="cusname" placeholder="Enter Customer Name" style="text-align:center"><br/><br/>
  <label><b>NIC : </b></label><br/>
  <input type="text" id="nic" name="nic" placeholder="Enter Customer NIC"style="text-align:center"><br/><br/>
  <label><b>Mobile Number :</b></label><br/>
  <input type="text" id="mobile" name="mobile" placeholder="Enter Customer Mobile"style="text-align:center"><br/><br/>
  <label><b>Email :</b></label><br/>
  <input type="text" id="email" name="email" placeholder="Enter Cusomer Email"style="text-align:center"><br/><br/>
  <label><b>Address :</b></label><br/>
  <input type="text" id="address" name="address" placeholder="Enter Customer Address"style="text-align:center"><br/><br/>
  <label><b>Amount :</b></label><br/>
  <input type="text" id="amount" name="amount" placeholder="Enter Customer Amount"style="text-align:center"><br/><br/><br/>
  <input type="button" id="recharge" value="Create" >&nbsp;&nbsp;
  <input type="button" id="cancel" value="Cancel" onclick=" location.href='/start'">
  </form>
  </div>
  </body>

