.container-fluid {
    text-align: center;
}

.form-control{
    width: 250px;
    display: inline-table;
    padding-left: 12px;
    margin-left: 50px;
    margin-top: 20px;
}

button{
    margin-right: 4rem;
    margin-left: 3rem;
    
}


body{

    /* background-image: url('../../assets/images/cart.jpg') ;  */
    margin: 0;
    padding: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;

    background-color: rgb(63, 231, 223)
     
    

}

 