.container-fluid {
    text-align: center;
} 

.form-control{
    width: 250px;
    display: inline-table;
    padding-left: 12px;
    margin-left: 50px;
    margin-top: 20px;
}

button{
    margin-right: 4rem;
    margin-left: 3rem;
    
}