.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav.mat-toolbar.mat-primary {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dropdown{
  width: inherit !important;
  height: max-content;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.dropdown .dropdown-content{
  width: inherit;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  display: none;
}




