.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav.mat-toolbar.mat-primary {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
    padding: 0 0 0;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	min-height:500px;
	text-align: center;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
	/* text-align: center; */
}

a:hover{
	text-decoration:underline;
}

section, footer, nav{
	display: block;
}


/*----------------------------
	The Navigation Menu
-----------------------------*/


#colorNav > ul{
	width: 200px; /* Increase when adding more menu items */
	margin:0 auto;
}

#colorNav > ul > li{ /* will style only the top level li */
	list-style: outside;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	display: inline-flex;
	line-height: 1;
	margin: 1px;
	border-radius: 3px;
	position: relative;
	text-align: center;
}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:24px;
	padding: 25px;
	text-align: center;
}

#colorNav li ul{
	position: relative; 
	list-style: none;
	text-align:center;
	width:200px;
	left:-50px;
	margin-left:-90px;
	top:10px;
	font:bold 12px 'Open Sans Condensed', sans-serif;
	right: 100;
	
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

#colorNav li ul li{
	background-color:#313131;
}

#colorNav li ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

/* #colorNav li ul li:hover{
	background-color:#444;
} */

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:40px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position: relative;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:100%;
	top:-10px;
	margin-right:100px;
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

/* This will trigger the CSS */
/* transition animation on hover */

#colorNav li:hover ul{
	max-height:300px; /* Increase when adding more dropdown items */
}


/*----------------------------
	Color Themes
-----------------------------*/


#colorNav li.green{
	/* This is the color of the menu item */
	background-color:#45a7d4;
	
	/* This is the color of the icon */
	color:black;
}

#colorNav li.red{		background-color:#6698f5;color:black;}
#colorNav li.blue{		background-color:#3f94e4;color:black;}
#colorNav li.yellow{	background-color:#3a70d4;color:black;}
#colorNav li.purple{	background-color:#445cc5;color:black;}
#colorNav li.brown{ 	background-color:rgb(4, 43, 170); color:brown;}





/* New navigation menu */

/* Fixed sidenav, full height */
.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn, .dropdown-btn1, .dropdown-btn2, .dropdown-btn3 {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
	height: 60px;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover, .dropdown-btn1:hover, .dropdown-btn2:hover, .dropdown-btn3:hover {
	color: #f1f1f1;
  }
  
  /* Main content */
  .main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
	background-color: green;
	color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
	float: right;
	padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  
 


 
 

 
