
<body>
     
  <div class="container-fluid"><br/><br/>
    <h1>Add Promotion</h1><br>
    <form>
         
        <div class = "form-group">
            <label>Promotion Name</label>
            <input type="text" class="form-control">
        </div>
        <div class = "form-group">
            <label>Promotion Number</label> 
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Promotion Code</label>
            <input type="text"class="form-control">
        </div>
        
      
        
        <div class="form-group">
            <label>Promotion Expiration Date</label>
            <input type="date"class="form-control">
        </div>

        <image-upload></image-upload>
        
        
         
        
         <br/> <br/>
        
        <button class="btn btn-primary" type="submit"> Submit </button>
        <button class="btn btn-primary" type="reset"> Clear </button>
        
   
        
    </form>
   
</div>
</body>
