<body>
  <div class="container-fluid">
    <h1>Product Delete</h1>
    <form>
        <div class = "form-group">
            <label>Bar code number</label>
            <input type="text" class="form-control">
        </div>
        <div class = "form-group">
            <label>Prodcut ID</label> 
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text"class="form-control">
        </div>
        <div class="form-group">
               <label>Unit Price</label>
               <input type=""class="form-control">
        </div>
         <br/>
           <button class="btn btn-primary" type="submit"> Delete </button>
              <button class="btn btn-primary" type="reset"> Cancel </button>
         
        
         
        
         
        
    </form>
  </div>
  </body>
   