body{
    background-color: skyblue;
}

button {
    margin-right: 2.5rem;
    margin-left: 3rem;
     
    
}

.container-fluid{
    width: 400px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-30% , -30%);
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    color: lavenderblush;
     
}

 