<nav id="colorNav">
  <ul><br/>
    <li class="green"><br/>
      <a href="#" class="icon-home">Users</a>
      <ul>
        <li><a  >Register User</a></li>
        <li><a href="#">Remove User</a></li>
        <li><a href="#">Update User</a></li>
        <li><a href="#">View User</a></li>
      </ul>
    </li><br/>
    <li class="red"><br/>
      <a href="#" class="icon-cogs">Products</a>
      <ul>
        <li><a href="#">Add Product</a></li>
        <li><a href="#">Remove Produc</a></li>
        <li><a href="#">Update Product</a></li>
        <li><a href="#">View Product</a></li>
      </ul>
    </li><br/>
    <li class="blue"><br/>
      <a href="#" class="icon-twitter">Promotions</a>
      <ul>
        <li><a href="#">Add Promotion</a></li>
        <li><a href="#">Remove Promotion</a></li>
        <li><a href="#">Update Promotion</a></li>
        <li><a href="#">View Promotion</a></li>
      </ul>
    </li><br/>
    <li class="yellow"><br/>
      <a href="#" class="icon-beaker">Stock</a>
      <ul>
        <li><a href="#">PHP tutorials</a></li>
        <li><a href="#">jQuery techniques</a></li>
        <li><a href="#">CSS articles</a></li>
        <li><a href="#">Everything else</a></li>
      </ul>
    </li><br/>
    <li class="purple"><br/>
      <a href="#" class="icon-envelope">Wallet</a>
      <ul>
        <li><a href="#">Contact us</a></li>
      </ul>
    </li><br/>
     
  </ul><br/>
</nav>

     

    <!-- BSA AdPacks code. Please ignore and remove.--> 
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.tutorialzine.com/misc/adPacks/v1.js" async></script>