/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-bwm {
  background-color: lightskyblue;
  border-color: lightskyblue;
  color: white;
  padding: 15px 30px;
  font-size: 20px;

   
}

.hover,.focus,.active {
  border-color: black !important ;
  background-color: black  !important;
}
