<body>
  <br/><br/>
 <h1><b>View Pre Order</b></h1>
 <div class="vieworder">
  <form method="post" id="vieworder" action="">
      <label><b>Bill No : </b></label>&nbsp;
      <input type="text" id="billno" name="billno" placeholder="Enter Bill No" style="text-align:center">&nbsp;
      <input type="button" id="enter" value="Enter"><br/><br/>
    </form><br/><br/>
    <table width="500" border="3" >
      <tr>
        <th>Products list</th>
        <th>Quantity</th>
      </tr>
    </table>
    
    
</div>

</body>
